<h1>Shopping Cart</h1>
<div class="card" *ngIf="cart$ | async as cart">
  <div class="card-body">
    <p>
      You have {{ cart.totalItemsCount }} items in your shopping cart.
      <button
        *ngIf="cart.items.length"
        (click)="clearCart()"
        class="float-right btn btn-light btn-sm"
      >
        Clear Shopping Cart
      </button>
    </p>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th></th>

        <th>Product</th>
        <th class="text-center" style="width: 230px;">Quantity</th>
        <th class="text-right" style="width: 200px;">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div
            [style.backgroundImage]="'url(' + item.imageUrl + ')'"
            class="thumbnail"
          ></div>
        </td>
        <td>
          {{ item?.title }}
        </td>
        <td>
          <product-quantity
            [product]="item"
            [shoppingCart]="cart"
          ></product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency: 'NGN':'symbol' }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">
          {{ cart.totalPrice | currency: 'NGN':'symbol' }}
        </th>
      </tr>
      <tr>
        <th colspan="4">
          <a
            routerLink="/check-out"
            *ngIf="cart.items.length"
            class="btn btn-primary"
          >
            Check out
          </a>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
