<form #form="ngForm" name="shippingForm" (ngSubmit)="placeOrder(form)">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      id="name"
      name="name"
      ngModel
      type="text"
      placeholder="name"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="address">Address</label>
    <input
      name="addressLine1"
      id="address"
      ngModel
      type="text"
      placeholder="address line 1"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <input
      name="addressLine2"
      ngModel
      type="text"
      placeholder="address line 2"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input
      id="city"
      name="city"
      ngModel
      type="text"
      placeholder="city"
      class="form-control"
    />
  </div>

  <button type="submit" class="btn btn-primary">Place Order</button>
</form>
