<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>

<p>
  <input
    #query
    type="text"
    class="form-control"
    (keyup)="filter(query.value)"
    placeholder="Search..."
  />
</p>

<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"
>
  <data-table-column
    [property]="'title'"
    [header]="'Title'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
    [property]="'price'"
    [header]="'Title'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      {{ item.price | currency: 'NGN':'symbol' }}
    </ng-template>
  </data-table-column>

  <data-table-column [property]="'$key'">
    <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/admin/products/', item.$key]">Edit</a>
    </ng-template>
  </data-table-column>
</data-table>
<!-- 
<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td>
        <img
          style="width: 100px; height: 80px; border-radius: 50%"
          class="img-thumbnail img-fluid"
          [src]="p.imageUrl"
        />
      </td>
      <td>{{ p.title }}</td>
      <td>{{ p.price }}</td>
      <td>
      </td>
    </tr>
  </tbody>
</table> -->
