<div class="row">
  <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>

  <div class="col">
    <div class="row">
      <!-- The ngFor directive provides the index property for us during iterations -->
      <!-- We use it to set the linebreak with the condition described below -->
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col">
          <product-card [product]="p"></product-card>
        </div>

        <!-- This is a linebreak -->
        <!-- We make it happen only after two cards have been rendered -->
        <!-- So i + 1 because iteration is zero-based and if divided by 2 without any remainder, the linebreak will happen -->
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>
